#hd1{
  text-align: center;
  background-color: rgb(19, 19, 76);
  color: white;
  padding:20px;
  margin: 0px;
}
.row{
  display: flex;
}
.col{
  margin:10px;
  border: 2px solid lightgray;
}
#hd2{
  text-align: center;
}
.col1{
  padding: 5px;
  width:20%;
  background-color: #f5f0e1;
  border-radius:5px;
}
.col2{
  padding: 5px;
  width:80%;
  border-radius:5px;
}
.plr-sbj{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.plr-sbj-row{
  margin: 8px;
  padding:20px;
  width:80%;
  background-color: rgb(19, 19, 76);
  color: white;
  border-radius:10px;
}
.col2-row1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f0e1;
  padding: 5px;
}
#inpt{
  padding:10px;
  width:60%;
  border-radius:30px;
}
#btn1{
  padding:10px;
  border-radius:10px;
  margin:2px;
  background-color: greenyellow;
}
#btn2{
  padding:10px;
  border-radius:10px;
  background-color: rgb(219, 20, 60);
  color: white;
}
.col2-row2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}
table{
  width: 90%;
}
th{
  border: 2px solid lightgray;
  padding:10px;
  background-color: rgb(19, 19, 76);
  color: white;
}

td{
  border: 2px solid lightgray;
  padding:10px;
}
.col2-row21{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:5px;
  margin-top:20px;
}
.pc-btn{
  padding:10px;
  margin:10px;
  background-color: rgb(19, 19, 76);
  color: white;
  border-radius: 10px;
  width:100px;
}

@media screen and (max-width: 600px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .col1{
    padding: 5px;
    width:94%;
    background-color: #f5f0e1;
    border-radius:5px;
  }
  .col2{
    padding: 5px;
    width:94%;
    border-radius:5px;
  }
  .plr-sbj{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .plr-sbj-row{
    margin: 8px;
    padding:10px;
    width:20%;
    background-color: rgb(19, 19, 76);
    color: white;
    border-radius:10px;
  }
}